astroid==2.4.1
certifi==2020.4.5.1
chardet==3.0.4
docutils==0.16
ffmpeg==1.4
ffpyplayer==4.2.0
idna==2.9
isort==4.3.21
Kivy==1.11.1
Kivy-Garden==0.1.4
kivymd==0.104.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
mutagen==1.44.0
Pillow==7.1.2
plyer==1.4.3
Pygments==2.6.1
requests==2.23.0
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
